/*
Solarpunk by PauCamCal
*/

@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://kit.fontawesome.com/b0d98f1de6.js");

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
body {
  line-height: 1.65em;
  -webkit-text-size-adjust: none;
  -ms-overflow-style: scrollbar;
  background: #81ab7e;
  color: #16461f;
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
  font-weight: 300;
  letter-spacing: -0.015em;
}

ol,
ul {
  list-style: none;
}

/*General*/
@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 480px) {
  html,
  body {
	min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0 0 0.5em 0;
}

h1 {
  color: #16461f;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}

h2 {
  font-size: 2.25em;
  line-height: 1.5em;
  letter-spacing: -0.035em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

/*HEADER*/

#page-wrapper {
  padding-top: 3em;
}

body.landing #page-wrapper {
  padding-top: 0;
}

#header {
  background: black;
  color: white;
  cursor: default;
  height: 3.25em;
  left: 0;
  line-height: 3.25em;
  position: relative;
  top: 0;
  width: 100%;
  backdrop-filter: blur(3px);
}

#header h1 {
  color: inherit;
  height: inherit;
  font-weight: 700;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  text-shadow: 1px 1px #16461f;
}

#header h1 a {
  color: #f0ead6;
  font-weight: 400;
  border: 0;
}

#header nav {
  height: inherit;
  line-height: inherit;
  position: absolute;
  right: 0.75em;
  top: 0;
  vertical-align: middle;
  text-shadow: 1px 1px #92bd8a;
}

#header nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#header nav > ul > li {
  display: inline-block;
  padding-left: 0;
}

#header nav > ul > li > ul {
  display: none;
}

#header nav > ul > li a {
  display: inline-block;
  height: 2em;
  line-height: 1.95em;
  padding: 0 1em;
  border-radius: 6px;
}

#header nav > ul > li a:not(.button) {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 0;
}

#header nav > ul > li a:not(.button).icon:before {
  color: #999;
  margin-right: 0.5em;
}

#header nav > ul > li:first-child {
  margin-left: 0;
}

#header nav > ul > li.active a:not(.button) {
  background-color: rgba(153, 153, 153, 0.25);
}

#header .container {
  position: relative;
}

#header .container h1 {
  left: 0;
}

#header .container nav {
  right: 0;
}
#header.alt {
  -moz-animation: none;
  -webkit-animation: none;
  -ms-animation: none;
  animation: none;
  background: none;
  color: rgba(25, 255, 255, 0.75);
  position: absolute;
}

/*MAIN*/
#main {
  padding: 4em 0;
}

#main > header {
  text-align: center;
  margin: 0 0 3em 0;
}

#main > header h2 {
  font-size: 2.75em;
  margin: 0;
}

#main > header p {
  border-top: solid 2px #e5e5e5;
  color: #777;
  display: inline-block;
  font-style: bold;
  margin: 1em 0 0 0;
  padding: 1em 0 1.25em 0;
}

body.landing #main {
  margin-top: -5em;
}

/*CONTAINER*/
.container {
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 60em;
}

.container.xsmall {
  width: 15em;
}

.container.small {
  width: 30em;
}

.container.medium {
  width: 45em;
}

.container.large {
  width: 75em;
}

.container.xlarge {
  width: 90em;
}

.container.max {
  width: 100%;
}

@media screen and (max-width: 840px) {
  .container {
	width: 100% !important;
  }
}

@media screen and (max-width: 736px) {
  .container {
	max-width: 100%;
  }
}

/*BANNER*/

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
	url("https://cdna.artstation.com/p/assets/images/images/019/800/798/original/barthelemy-aupetit-solarpunk-lr-process.gif?1565070778");
  background-attachment: scroll, fixed;
  background-color: #445;
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  background-size: cover, cover;
  padding: 12em 0 20em 0;
  margin-bottom: -250px;
  align-content: center;
  text-align: center;
}

#banner :last-child {
  margin-bottom: 0;
}

#banner h2,
#banner h3,
#banner h4,
#banner h5,
#banner h6 {
  color: #fff;
}

#banner h2 {
  font-size: 3.5em;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner p {
  font-size: 1.2em;
  margin-bottom: 1.75em;
}

#banner input[type="submit"],
#banner input[type="reset"],
#banner input[type="button"],
#banner .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  color: #fff;
  min-width: 12em;
}

#banner input[type="submit"]:hover,
#banner input[type="reset"]:hover,
#banner input[type="button"]:hover,
#banner .button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#banner input[type="submit"]:active,
#banner input[type="reset"]:active,
#banner input[type="button"]:active,
#banner .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#banner input[type="submit"].primary,
#banner input[type="reset"].primary,
#banner input[type="button"].primary,
#banner .button.primary {
  background: #fff;
  color: #666 !important;
}

/*SKILLS ICONS*/
.icon.major {
  background: transparent;
  color: #0f0c3a;
  cursor: default;
  display: inline-block;
  height: 5.5em;
  line-height: 5.5em;
  margin: -2em 0 -2em 0;
  width: 5.5em;
}

.icon.major:before {
  font-size: 3.5em;
}

/*FONTS*/

.bio {
  padding-bottom: 1em;
}
.bio,
.contact {
  font-size: 1.5em;
  text-align: center;
  align-content: center;
  color: #16461f;
  font-family: orbitron;
}

/*BODY BOX MAIN */

.box {
  background: #f5f5f5;
  border-radius: 3px;
  margin: 0 0 4em 0;
  padding: 3em;
  padding-left: 63px;
}

.box > :last-child {
  margin-bottom: 0;
}

.box.alt {
  background: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin: 0 0 2em 0;
  padding: 0 !important;
}

.box.special {
  text-align: center;
}

.box .image.featured {
  border-radius: 0;
  display: flex;
  margin: 3em 0 3em -3em;
  position: relative;
  width: calc(100% + 6em);
  justify-content: center;
}

.box .image.featured img {
  border-radius: 0;
  display: block;
  width: 100%;
  height: 200px;
}
.box .image.featured:first-child {
  border-radius: 6px 6px 0 0;
  margin-bottom: 3em;
  margin-top: -3em;
}

.box .image.featured:first-child img {
  border-radius: 6px 6px 0 0;
}

.box .image.featured:last-child {
  border-radius: 0 0 6px 6px;
  margin-bottom: -3em;
  margin-top: 3em;
}

.box .image.featured:last-child img {
  border-radius: 0 0 6px 6px;
}

.box .features .contact {
  background: #f5f5f5;
  border-radius: 3px;
  margin: 0 0 4em 0;
  padding: 3em;
  display: block;
  width: 100%;
  height: 450px;
}

/*ROW*/
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

.row h3 {
  font-family: orbitron;
  color: #16461f;
}
.row p {
  font-weight: 300;
  color: black;
}
.row > * {
  box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
  margin-bottom: 0;
}

.row.aln-left {
  justify-content: flex-start;
}

.row.aln-center {
  justify-content: center;
}

.row.aln-right {
  justify-content: flex-end;
}

.row.aln-top {
  align-items: flex-start;
}

.row.aln-middle {
  align-items: center;
}

.row.aln-bottom {
  align-items: flex-end;
}

.row > .imp {
  order: -1;
}

.row > .col-1 {
  width: 8.33333%;
}

.row > .off-1 {
  margin-left: 8.33333%;
}

.row > .col-2 {
  width: 16.66667%;
}

.row > .off-2 {
  margin-left: 16.66667%;
}

.row > .col-3 {
  width: 25%;
}

.row > .off-3 {
  margin-left: 25%;
}

.row > .col-4 {
  width: 33.33333%;
}

.row > .off-4 {
  margin-left: 33.33333%;
}

.row > .col-5 {
  width: 41.66667%;
}

.row > .off-5 {
  margin-left: 41.66667%;
}

.row > .col-6 {
  width: 50%;
}

.row > .off-6 {
  margin-left: 50%;
}

.row > .col-7 {
  width: 58.33333%;
}

.row > .off-7 {
  margin-left: 58.33333%;
}

.row > .col-8 {
  width: 66.66667%;
}

.row > .off-8 {
  margin-left: 66.66667%;
}

.row > .col-9 {
  width: 75%;
}

.row > .off-9 {
  margin-left: 75%;
}

.row > .col-10 {
  width: 83.33333%;
}

.row > .off-10 {
  margin-left: 83.33333%;
}

.row > .col-11 {
  width: 91.66667%;
}

.row > .off-11 {
  margin-left: 91.66667%;
}

.row > .col-12 {
  width: 100%;
}

.row > .off-12 {
  margin-left: 100%;
}

.row.gtr-0 {
  margin-top: 0;
  margin-left: 0em;
}

.row.gtr-0 > * {
  padding: 0 0 0 0em;
}

.row.gtr-0.gtr-uniform {
  margin-top: 0em;
}

.row.gtr-0.gtr-uniform > * {
  padding-top: 0em;
}

.row.gtr-25 {
  margin-top: 0;
  margin-left: -0.5em;
}

.row.gtr-25 > * {
  padding: 0 0 0 0.5em;
}

.row.gtr-25.gtr-uniform {
  margin-top: -0.5em;
}

.row.gtr-25.gtr-uniform > * {
  padding-top: 0.5em;
}

.row.gtr-50 {
  margin-top: 0;
  margin-left: -1em;
}

.row.gtr-50 > * {
  padding: 0 0 0 1em;
}

.row.gtr-50.gtr-uniform {
  margin-top: -1em;
}

.row.gtr-50.gtr-uniform > * {
  padding-top: 1em;
}

.row {
  margin-top: 0;
  margin-left: -2em;
}

.row > * {
  padding: 0 0 0 2em;
}

.row.gtr-uniform {
  margin-top: -2em;
}

.row.gtr-uniform > * {
  padding-top: 2em;
}

.row.gtr-150 {
  margin-top: 0;
  margin-left: -3em;
}

.row.gtr-150 > * {
  padding: 0 0 0 3em;
}

.row.gtr-150.gtr-uniform {
  margin-top: -3em;
}

.row.gtr-150.gtr-uniform > * {
  padding-top: 3em;
}

.row.gtr-200 {
  margin-top: 0;
  margin-left: -4em;
}

.row.gtr-200 > * {
  padding: 0 0 0 4em;
}

.row.gtr-200.gtr-uniform {
  margin-top: -4em;
}

.row.gtr-200.gtr-uniform > * {
  padding-top: 4em;
}

/*FOOTER ICONS*/
#instagram,
#github,
#codepen,
#linkedin,
#gmail {
  font-size: 1.25em;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin-bottom: 1em;
}

ul.icons li {
  display: inline-block;
  padding: 0 1.25em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon {
  color: #81ab7e;
}

/*FOOTER*/
#footer {
  background: #16461f;
  padding: 2em 0 2em 0;
  text-align: center;
}

#footer .copyright {
  color: #81ab7e;
  font-size: 0.9em;
  line-height: 0.75 em;
  margin: 0.25em 0 0 0;
  padding: 0;
  text-align: center;
}

#footer .copyright a {
  color: #81ab7e;
}

#footer .copyright li {
  border-left: solid 1px #f1dbff;
  display: inline-block;
  list-style: none;
  margin-left: 1em;
  padding-left: 1em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

/* Mobile */

@media screen and (max-width: 828px) {
  /* Basic */

  body,
  input,
  select,
  textarea {
	font-size: 11pt;
  }

  h2 {
	font-size: 1.75em;
	line-height: 1.35em;
	letter-spacing: -0.025em;
  }

  h3 {
	font-size: 1.5em;
	padding-bottom: 0.75em;
  }

  h4 {
	font-size: 1em;
  }

  /* Section/Article */

  header.major {
	padding: 1em;
  }

  header.major h2,
  header.major p {
	padding-left: 0.5em;
	padding-right: 0.5em;
  }

  .banner {
	background-position: center, center;
	background-repeat: repeat, no-repeat;
	background-size: round;
  }
  /* Box */

  .box {
	margin: 1em;
	overflow-x: hidden;
	padding: 2em 2em !important;
  }

  .box.features .features-row section {
	border: 0;
	border-top: solid 1px #e5e5e5 !important;
	float: none;
	margin: 2em 0 0 0 !important;
	padding: 2em 0 0 0 !important;
	width: 100%;
  }

  .box.features .features-row:first-child section:first-child {
	border-top: 1px !important;
	margin-top: 2em !important;
	padding-top: 2em !important;
  }

  .box .image.featured {
	margin-left: -2em;
	width: calc(100% + 4em);
  }

  .box .image.featured:first-child {
	margin-bottom: 2em;
	margin-top: -2em;
  }

  .box .image.featured:last-child {
	margin-bottom: -2em;
	margin-top: 2em;
  }

  /* Banner */

  #banner {
	padding: 4em 0;
  }

  #banner h2 {
	font-size: 2.25em;
  }

  #banner p {
	font-size: 1.25em;
  }

  /* Main */

  #main {
	padding: 4em 0 0 0;
  }

  #main > header {
	margin: 0 2em 1.5em 2em;
  }

  #main > header h2 {
	font-size: 2em;
  }

  #main > header p {
	font-size: 1em;
	padding-bottom: 1em;
  }

  body.landing #main {
	padding: 0;
	margin-top: 200px;
  }

  /* Footer */

  #footer {
	padding: 4em 0;
  }

  #footer .copyright li {
	border-left: 0;
	display: block;
	line-height: 2em;
	margin-left: 0;
	padding-left: 0;
  }

  .icons {
	font-size: 1em;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  }
}

/* Mobile (Portrait) */

@media screen and (width: 828px) {
  /* Basic */

  html,
  body {
	min-width: 320px;
  }

  body,
  input,
  select,
  textarea {
	font-size: 11pt;
  }

  /* Section/Article */

  header.major {
	padding: 0;
  }

  /* List */

  ul.actions {
	margin: 0 0 2em 0;
  }

  ul.actions li {
	display: block;
	padding: 1em 0 0 0;
	text-align: center;
	width: 100%;
  }

  ul.actions li:first-child {
	padding-top: 0;
  }

  ul.actions li > * {
	width: 100%;
	margin: 0 !important;
  }

  ul.actions li > *.icon:before {
	margin-left: -2em;
  }

  ul.actions.small li {
	padding: 0.5em 0 0 0;
  }

  ul.actions.small li:first-child {
	padding-top: 0;
  }

  /* Box */

  .box {
	border-radius: 0;
	box-shadow: none;
	margin: 1em 0 0 0;
	padding: 3em 1em !important;
  }

  .box.features .features-row section {
	margin: 3em 0 0 0 !important;
	padding: 3em 0 0 0 !important;
  }

  .box .image.featured {
	border-radius: 0;
	margin-left: -1em;
	width: calc(100% + 2em);
  }

  .box .image.featured img {
	border-radius: 0 !important;
  }

  .box .image.featured:first-child {
	margin-bottom: 3em;
	margin-top: -3em;
  }

  .box .image.featured:last-child {
	margin-bottom: -3em;
	margin-top: 3em;
  }

  /* Banner */

  #banner {
	padding: 5em 3em 4em 3em;
  }

  /* Main */

  #main > .box:first-child {
	margin-top: 20em;
  }

  /* CTA */

  #cta {
	padding: 2.5em 1em 3em 1em;
  }
}
